# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Virtual environment
venv/
env/
.venv/

# Django static and media
staticfiles/
media/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
